.news-modal {
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 76px);
    max-height: calc(50vh - 76px);
    overflow-y: auto;
    background: #FFFFFF;
    padding: 92px 40px 42px;
    border-radius: 20px;
    display: none;
}

.news-modal-date {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    margin-bottom: 24px;
}

.news-modal h3 {
    margin-bottom: 24px;
}

.news-modal p {
    margin-bottom: 15px;
}

.modal-rules {
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 76px);
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    background: #FFFFFF;
    padding: 92px 40px 42px;
    border-radius: 20px;
    display: none;
}

.feedback-modal {
    max-width: 560px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 12px);
    max-height: calc(100vh - 76px);
    overflow-y: auto;
    background: #FFFFFF;
    padding: 84px 40px 42px;
    border-radius: 20px;
    display: none;
}

.fa-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


.modal {
    position: fixed;
    left: 38px;
    right: 38px;
    top: 38px;
    bottom: 38px;
    background: #FFFFFF;
    z-index: 1000;
}

.fa-solid.fa-xmark {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 20px;
    height: 20px;
    color: #D14F15;
    font-size: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

/*form {*/
/*    margin-top: 40px;*/
/*}*/

input {
    display: block;
    margin-bottom: 32px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(209, 79, 21, 20%);
    outline: none;
    padding: 12px 0;
}

input:hover {
    border-bottom: 1px solid #D14F15;
}

input:active {
    border-bottom: 1px solid #D14F15;
}

input[type="submit"] {
    margin-top: 10px;
}

#error-msg {
    color: red;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

.custom-checkbox::after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid #ff7f50;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 4%;
    left: 28%;
    opacity: 0;
}

/* Отображение галочки при активации */
input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}


label {
    display: flex;
}

label input {
    width: auto;
}

.feedback-modal p {
    margin-bottom: 40px;
}

.feedback-modal h3 {
    text-transform: unset;
    margin-bottom: 24px;
}

.form-btn {
    width: 100%;
    margin-top: 48px;
}

@media screen and (max-width: 500px) {

    .feedback-modal {
        transform: translate(-50%, -50%);
        width: calc(100% - 12px);
        max-height: calc(100vh - 76px);
        overflow-y: auto;
        background: #FFFFFF;
        padding: 84px 14px 17px;
        border-radius: 20px;
        display: none;
    }

    .feedback-modal p {
        margin-bottom: 32px;
    }

    .feedback-modal h3 {
        text-transform: unset;
        margin-bottom: 24px;
    }

}